export ARCH=x86_64                   # arm64 or x86_64
export USER=<USERNAME>
export CLOUDLET_DN=<CLOUDLET_FQDN>   # fqdn of server AGW runs on
export MAGMA_DN=<MAGMA_DN>           # e.g., magma.local
export MAGMA_USER=<MAGMA_USER>       # e.g., magma
export CLOUDLET_IP=<CLOUDLET_IP>     # IP of server AGW runs on
export S1_IP=<S1_IP>                 # IP address of AGW S1 interface
export RECIPE_HOME=<RECIPE_HOME>     # local path of this repository/recipe
export PLAYBOOK_HOME=${RECIPE_HOME}/ansible
export NETWORK_ELEMENT=agw           # agw or orc8r
export PRIVATE_KEY=<MYPRIVATEKEYFILE>
export ROOT_CA_PATH=<ROOT_CA_PATH>
export ORC8R_IP=<ORC8R_IP>
export ETH0_MAC=<ETH0_MAC>
export ETH1_MAC=<ETH1_MAC>
export NAMESERVER_IP=<NAMESERVER_IP> # e.g., "8.8.8.8"
export NODEB_IP=<NODEB_IP> # IP of a NodeB
export IPGATEWAY_IP=<IPGATEWAY_IP>   # Internet gateway from eth0
export MAGMA_GITHUB=https://github.com/magma/magma.git

export MAGMA_VERSION=<MAGMA_VERSION> # e.g., 1.9.0
export DOCKER_IMAGE_VERSION=<DOCKER_IMAGE_VERSION> # e.g., 20.10.21-0ubuntu1~20.04.2
export DOCKER_COMPOSE_VERSION=<DOCKER_COMPOSE_VERSION> # e.g., "v2.17.2"

