export ARCH=x86_64                   # arm64 or x86_64
export USER=<USERNAME>
export MAGMA_DN=<MAGMA_DN>           # e.g., magma.local
export MAGMA_USER=<MAGMA_USER>       # e.g., magma
export RECIPE_HOME=<RECIPE_HOME>     # local path of this repository/recipe
export PLAYBOOK_HOME=${RECIPE_HOME}/ansible
export NETWORK_ELEMENT=orc8r           # agw or orc8r
export PRIVATE_KEY=<MYPRIVATEKEYFILE>
export ROOT_CA_PATH=/home/magma/magma-deployer/secrets/rootCA.pem
export ORC8R_IP=<ORC8R_IP>

export MAGMA_VERSION=<MAGMA_VERSION> # e.g., 1.9.0

