cloud_address: controller.{{domainName}}
cloud_port: 443
bootstrap_address: bootstrapper-controller.{{domainName}}
bootstrap_port: 443
fluentd_address: fluentd.{{domainName}}
fluentd_port: 24224

rootca_cert: /var/opt/magma/certs/rootCA.pem
